<%= render "layouts/navbar" %>
<div class="about_body_container">
	<div class="about_main_container">
		<h1>About WhoBrings</h1><br><br>
		<p>WhoBrings was created to plan events with friends. From birthday parties and camping, to weekend getaways and picnics in the park, planning for a group of people can become difficult. WhoBrings allows an event to be created and tasks to be assigned with their associated costs. The event's task list can be sorted to better organize. </p>
	</div>
</div>
