<!-- <h1>Site#index</h1>
<p>Find me in app/views/site/index.html.erb</p> -->


	<div class="facebook_login_main_page col-xs-offset-9">
		<%= link_to "Log in with Facebook", "/auth/facebook" %>
	</div>


<div class="homepage_images_container">
	<div class="homepage_text_container">WhoBrings</div>
	<div class="homepage_lower_bar_container">
		<div class="homepage_lower_bar_writing">
			<p>Plan events amongst friends</p>
		</div>
	</div>
		<ul class="rslides">
		  <li><img src="https://secure.static.tumblr.com/9f5d7ac6b88a8153a53d1ec62f4dcc64/wpa2yov/jSlndf67l/tumblr_static_tumblr_static__640.jpg" alt=""></li>
		  <li><img src="https://naturallyfundays.files.wordpress.com/2012/08/dsc_0126-small.jpg" alt=""></li>
		  <li><img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/1512846_10100265250447904_8054548297578993481_n.jpg?oh=fb903500b1d96223a0638e1abe5b5e1b&oe=558CD4B1&__gda__=1430799502_e662441c3669181e59670f64f9af1f87" alt=""></li>
		</ul>
	</div>
